$def with(item)
<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
 <script type="text/javascript" src="/static/js/common.js"></script> 
</head>
<body>
	<p class="item">
		<label>$item['no'] . $item['title']</label>
	</p>
	<form id="myForm" method="post" action="/list">
		<input type="radio" name="answer" value="5" onclick="change()"/><label>非常同意</label><br/>
		<input type="radio" name="answer" value="4" onclick="change()"/><label>比较同意</label><br/>
		<input type="radio" name="answer" value="3" onclick="change()"/><label>差不多</label><br/>
		<input type="radio" name="answer" value="2" onclick="change()"/><label>一点同意</label><br/>
		<input type="radio" name="answer" value="1" onclick="change()"/><label>不同意</label><br/>
	</form>
	
</body>
</html>
