<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
 <script type="text/javascript" src="/static/js/common.js"></script> 
</head>
<body>
	<div>
		<img class="topimg" src="/static/pic/img.png"/>
	</div>
	<div class="descrip">1、你有一个机会成为以下的一个角色，会成为这个角色很长时间，它可能是几年、几十年甚至一辈子，选择了就不能更改。因此，选择必须要慎重，要考虑清楚是什么原因让你选择这个角色。</div>
	<div class="roleOpt">
		<form id="myForm" method="post" action="/list">
			<div class="answer"><input class="radioAnswer" type="radio" name="answer" value="5" onclick="change()"/><label>唐僧</label></div>
			<div class="answer"><input class="radioAnswer" type="radio" name="answer" value="4" onclick="change()"/><label>孙悟空</label></div>
			<div class="answer"><input class="radioAnswer" type="radio" name="answer" value="3" onclick="change()"/><label>猪八戒</label></div>
			<div class="answer"><input class="radioAnswer" type="radio" name="answer" value="2" onclick="change()"/><label>沙僧</label></div>
			<div class="answer"><input class="radioAnswer" type="radio" name="answer" value="1" onclick="change()"/><label>白龙马</label></div>
		</form>
	</div>
	
</body>
</html>
