<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
 <script type="text/javascript" src="/static/js/common.js"></script> 
</head>
<body>
	<div>
		<img class="topimg" src="/static/pic/img.png"/>
	</div>
	<div class="descrip">1、你有一个机会成为以下的一个角色，会成为这个角色很长时间，它可能是几年、几十年甚至一辈子，选择了就不能更改。因此，选择必须要慎重，要考虑清楚是什么原因让你选择这个角色。</div>
	<div class="roleOpt">
		<form id="myForm" method="post" action="/list">
			<div class="answer" onclick="change(this)"><input id="r5" class="radioAnswer" type="radio" name="answer" value="5" />唐僧</div>
			<div class="answer" onclick="change(this)"><input id="r4" class="radioAnswer" type="radio" name="answer" value="4" />孙悟空</div>
			<div class="answer" onclick="change(this)"><input id="r3" class="radioAnswer" type="radio" name="answer" value="3" />猪八戒</div>
			<div class="answer" onclick="change(this)"><input id="r2" class="radioAnswer" type="radio" name="answer" value="2" />沙僧</div>
			<div class="answer" onclick="change(this)"><input id="r1" class="radioAnswer" type="radio" name="answer" value="1" />白龙马</div>
			<div class="nextbtn"><input type="submit" id="nextbtn" name="nextbtn" value="" action="/list" /></div>
		</form>
	</div>
	
</body>
</html>
