$def with(reason_list)
<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
 <script type="text/javascript" src="/static/js/common.js"></script> 
</head>
<body>
	<div>
		<img class="topimg" src="/static/pic/img.png"/>
	</div>
	<div class="descrip">2. 请为上述选择挑一个最接近的原因：</div>
	<form id="reasonForm" method="post" action="/mainreason">
	$for f in reason_list:
		<div class="reasonAnswer" onclick="change(this)"><input id="r5" class="radioAnswer" type="radio" name="reasonAnswer" value="$f.id " />$f.title</div>
	<div class="nextbtn"><input type="submit" id="nextbtn" name="nextbtn" value="" action="/mainreason" /></div>
	</form>
	
</body>
</html>
