<!DOCTYPE HTML>
<meta name=”viewport” content=”width=device-width, initial-scale=1″ />
<html>
<body>

<video controls="controls">
  <source src="movie.ogg" type="video/ogg">
  <source src="movie.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<div>
	<br><label><input type="radio" name="S5" value="5"/>非常同意</label></br>
	<br><label><input type="radio" name="S4" value="4"/>比较同意</label></br>
	<br><label><input type="radio" name="S3" value="3"/>差不多</label></br>
	<br><label><input type="radio" name="S2" value="2"/>一点同意</label></br>
	<br><label><input type="radio" name="S1" value="1"/>不同意</label></br>
</div>

</body>
</html>