$def with(form)
<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
</head>
<body>

	<div>
		<br><label><input type="radio" name="S5" value="5"/>非常同意</label></br>
		<br><label><input type="radio" name="S4" value="4"/>比较同意</label></br>
		<br><label><input type="radio" name="S3" value="3"/>差不多</label></br>
		<br><label><input type="radio" name="S2" value="2"/>一点同意</label></br>
		<br><label><input type="radio" name="S1" value="1"/>不同意</label></br>
	</div>
	
	<h1>Register</h1>
	<form method="POST">
		$:form.render()
	</form>
</body>
</html>