
<!DOCTYPE HTML>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<html>
<head>
 <link rel="stylesheet" href="/static/css/common.css" type="text/css" > 
 <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script> 
 <script type="text/javascript" src="/static/js/common.js"></script> 
 <link rel="stylesheet" type="text/css" href="/static/picker/stylesheets/reset.css">
 <link rel="stylesheet" type="text/css" href="/static/picker/stylesheets/normalize.css" media="screen">
 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
 <link rel="stylesheet" type="text/css" href="/static/picker/stylesheets/stylesheet.css" media="screen">
 <link rel="stylesheet" type="text/css" href="/static/picker/stylesheets/github-light.css" media="screen">
</head>
<body>
	<div>
		<img class="topimg" src="/static/pic/img.png"/>
	</div>
	<div  class="title">胖胖虎老师的TOPK性格测试</div>
	<div class="descrip">在做本题之前，请先调整坐姿，保持自然放松的姿势，深呼吸20次，深呼吸的时候，告诉自己，你会平静认真的对待本题，慎重选择，每一个选择都是负责任并且不可更改的。</div>
	<div class="basicInfo">
		<form id="main" name="main" method="post"> 
			<div class="start">
				<input type="text" name="username" id="username" placeholder="请填写你的真实姓名"/>
				<br/>
				<input type="tel" name="age" id="age" placeholder="请填写你的年龄"/>
				<br/>			
				<input type="text" name="gender" id="gender" placeholder="请填写性别" />
				<br/>			
				<input type="text" name="starsign" id="starsign" placeholder="请填写星座"/>
				<br/>
				<input type="text" name="area" id="area" placeholder="请填写省市"/>
				<br/>
				<input type="button" id="start" name="start" value="" action="/index" onclick="submitClick()"/>
			</div>
		</form>
	</div>
	
</body>
 <script src="/static/picker/scripts/picker.min.js"></script>
 <script>
	
  var data1 = [
    {
      text: '男',
      value: 'M'
    }, {
      text: '女',
      value: 'F'
    }
	];
	var data2 = [
    {
      text: '摩羯座',
      value: '摩羯座'
    }, {
      text: '水瓶座',
      value: '水瓶座'
    },
    {
      text: '双鱼座',
      value: '双鱼座'
    }, {
      text: '白羊座',
      value: '白羊座'
    },
    {
      text: '金牛座',
      value: '金牛座'
    }, {
      text: '双子座',
      value: '双子座'
    },
    {
      text: '巨蟹座',
      value: '巨蟹座'
    }, {
      text: '狮子座',
      value: '狮子座'
    },
    {
      text: '处女座',
      value: '处女座'
    }, {
      text: '天秤座',
      value: '天秤座'
    },
    {
      text: '天蝎座',
      value: '天蝎座'
    }, {
      text: '射手座',
      value: '射手座'
    }
	];
	
	
  var picker1El = document.getElementById('gender');
  var picker2El = document.getElementById('starsign');
  
  var picker1 = new Picker({
    data: [data1]
  });

  picker1.on('picker.select', function (selectedVal, selectedIndex) {
    picker1El.value = data1[selectedIndex[0]].text;
  });

  picker1.on('picker.change', function (index, selectedIndex) {
    console.log(index);
  });

  picker1.on('picker.valuechange', function (selectedVal, selectedIndex) {
    console.log(selectedVal);
  });

  var picker2 = new Picker({
    data: [data2]
  });

  picker2.on('picker.select', function (selectedVal, selectedIndex) {
    picker2El.value = data2[selectedIndex[0]].text;
  });

  picker2.on('picker.change', function (index, selectedIndex) {
    console.log(index);
  });

  picker2.on('picker.valuechange', function (selectedVal, selectedIndex) {
    console.log(selectedVal);
  });
  
   picker1El.addEventListener('click', function () {
    picker1.show();
  });

  picker2El.addEventListener('click', function () {
    picker2.show();
  });

 </script>
 <script type="text/javascript" src="/static/picker/city/city.js"></script>
 <script type="text/javascript" src="/static/picker/city/index.js"></script>
</html>
