@media screen and (min-width: 320px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
}
}
@media screen and (min-width: 414px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:15px;
}
}
@media screen and (min-width: 800px) {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:40px;
}
}
@media screen and (min-width: 1024px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:80px;
}
}

#Start{
	width:100px;
	height:35px;
	 background:url("/static/pic/start.jpg")
}

select {
    border: solid 1px #000;
  
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;

    padding-right: 14px;

    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;

}


select::-ms-expand { display: none; }

html { overflow-y:scroll !important; }

html, body
{
	padding: 0;
	margin: 0;
}
body {
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	color: #330;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td, textarea, input
 { font-family: 'Open Sans', sans-serif; font-weight: normal; }

h1, h2, h3
{
	font-size: 16px;
}
h5, h6
{
	font-size: 14px;
}
h4 
{
	font-size: 15px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #EA2424;
	text-decoration: underline;
}

img { 
height: auto; 
width: auto\9; 
width:100%; 
}

.title{
color:#373737;
font-size: 24px;
font-family:Microsoft YaHei;
text-align:center;
margin-top:30px;
margin-bottom:30px;
}

.descrip{
color:#373737;
font-size: 14px;
font-family:Microsoft YaHei;
margin:0 auto;
margin-top:20px;
margin-left:10px;
margin-right:10px;	
}
.basicInfo{	
margin:0 auto;
}

.start{	
text-align:center;
}
#username, #age,#gender,#starsign,#area{
font-family:Microsoft YaHei;
font-size: 16px;
width:300px;
margin:0 auto;
margin-left:20px;
margin-top:20px;
border-bottom:1.5px solid #a9a9a9;
padding-bottom:3px;
padding-left:10px;
}


#start{
	height:60px;
	width:200px;
	background: url("/static/pic/start.png") no-repeat ;
	margin-top: 50px;
}

