h1{color:red;
font-family: Arial;}
label{color:red;
font-family: Arial;
}

@media screen and (min-width: 320px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
}
}
@media screen and (min-width: 414px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:15px;
}
}
@media screen and (min-width: 800px) {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:40px;
}
}
@media screen and (min-width: 1024px)  {
    .mine_coupon_words {
    float: left;
    width: 50%;
    margin-top:80px;
}
}